<!-- <button (click)="test()">all saloons</button> -->
<ng-container>
    <div *ngIf="isPartner()" class="main d-flex justify-content-center align-items-middle">
      <div class="col-8">
        <h4 class="text-center text-uppercase">my saloons</h4>
        <p>
          <button (click)="clickCreate()" class="btn btn-info w-100 text-center text-uppercase">
            create saloon
          </button>
        </p>
        <div class="mb-3" *ngIf="checkCnt()">
          <div class="card card-body">
            <div class="input-group mb-1">
              <input [(ngModel)]="saloon.name" placeholder="NAME" type="text" class="form-control">
            </div>
            <div class="input-group mb-1">
              <input [(ngModel)]="saloon.description" placeholder="BODY" type="text" class="form-control">
            </div>
            <div class="input-group mb-1">
              <input [(ngModel)]="saloon.telephone" placeholder="PHONE" type="text" class="form-control">
            </div>
            <div class="input-group mb-1">
              <input [(ngModel)]="saloon.address" placeholder="ADDRESS" type="text" class="form-control">
            </div>
            <div class="input-group mb-1">
              <input [(ngModel)]="saloon.card_number" placeholder="CARD" type="text" class="form-control">
            </div>
            <div class="input-group mb-1">
              <input [(ngModel)]="saloon.work_start" placeholder="START" type="text" class="form-control">
            </div>
            <div class="input-group mb-1">
              <input [(ngModel)]="saloon.work_end" placeholder="END" type="text" class="form-control">
            </div>
            <div class="input-group mb-3">
              <input [(ngModel)]="saloon.img_url" placeholder="IMAGE" type="text" class="form-control">
            </div>
            
            <button (click)="createSaloon()" class="btn btn-success text-uppercase text-center">submit</button>
          </div>
        </div>
        <div class="list-group">
          <div routerLink='/saloons/{{saloon.id}}' *ngFor="let saloon of saloons" class="card mb-3">
            <img src="{{saloon.img_url}}" class="card-img-top" alt="is">
            <div class="card-body">
              <h5 class="card-title">{{saloon.name}}</h5>
              <p class="card-text">{{saloon.description}}</p>
              <p class="card-text">WORKING: {{saloon.work_start}} - {{saloon.work_end}}</p>
              <p class="card-text"><small class="text-muted">{{saloon.rating}}</small></p>
            </div>
          </div>
          <!-- <a routerLink='/saloons/{{saloon.id}}' *ngFor="let saloon of saloons" class="list-group-item list-group-item-action"> {{saloon.id}}. {{saloon.name}} </a> -->
        </div>
      </div>
    </div>
  </ng-container>