<ng-container>
  <div class="main row justify-content-center">
    <div class="col-8">
      <h4 class="text-uppercase text-center">signup</h4>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Username</span>
        </div>
        <input [(ngModel)]="username" type="text" class="form-control">
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Password</span>
        </div>
        <input [(ngModel)]="password" type="password" class="form-control">
      </div>
      <select class="form-control mb-3 text-uppercase" [(ngModel)]="selectedTaskListId">
        <option value="client">client</option>
        <option value="partner">partner</option>
      </select>
      <button class="btn btn-success text-center text-uppercase" (click)="register()">submit</button>
    </div>
  </div>
</ng-container>