<ng-container>
  <div class="d-flex parallax justify-content-center align-items-center">
    <h4 class="text-uppercase text-center white">saloon detail</h4>
  </div>
  <div class="main w-100 d-flex justify-content-center">
    <div class="col-12 col-md-10">

      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">NAME</span>
        </div>
        <input [(ngModel)]="saloon.name" type="text" class="form-control">
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">PHONE</span>
        </div>
        <input [(ngModel)]="saloon.telephone" type="text" class="form-control">
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">ADDRESS</span>
        </div>
        <input [(ngModel)]="saloon.address" type="text" class="form-control">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">CARD NUMBER</span>
        </div>
        <input [(ngModel)]="saloon.card_number" type="text" class="form-control">
      </div>
      <div class="list-group mb-3">
        <h4 class="text-center text-uppercase">services</h4>
        <div class="input-group mb-2">
          <input type="text" class="form-control" [(ngModel)]="serviceName" placeholder="Enter the name">
          <input type="text" class="form-control" [(ngModel)]="serviceDescrition" placeholder="Enter the description">
          <div class="input-group-append">
            <button class="btn btn-outline-success text-center text-uppercase" type="button" (click)="createService()">create</button>
          </div>
        </div>
        <div routerLink="/services/{{service.id}}" *ngFor="let service of services" class="card mb-1">
          <div class="card-body">
            {{service.id}}. {{service.name}}: {{service.description}}
          </div>
        </div>
        
      </div>
      <div class="d-flex justify-content-around">
        <button (click)="update()" class="btn btn-warning text-center text-uppercase">update</button>
        <button (click)="delete()" class="btn btn-danger text-center text-uppercase">delete</button>
      </div>
    </div>
  </div>
</ng-container>